.alerta {
    top: 2.5rem;
    width: fit-content;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1;
}

.alert {
    border-radius: 15px;
    padding: 10px 25px 10px 25px;
    background-color: rgb(56 111 255);
}
.mensaje {
    font-size: 1.3rem;
    font-weight: 700;
}

.close {
    background-color: transparent;
    color: rgb(180, 87, 87);
    border: transparent;
    font-size: 2rem;
    position: absolute;
    left: 100%;
    transform: translate(-150%, -40%);
  }