*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --dark-background: black;
    --white-background: white;
    --gray-white-background: #f3f3f3;
    --gray-background: gray;
}

body {
    font-weight: 400;
    color: white;
    background-color: var(--dark-background);
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    padding-top: 4.23rem;
}

button {
    padding:0;
    border:none;
    font:inherit;
    color:inherit;
    background-color: transparent;
    cursor:pointer;
}

button:focus {
    outline:0;
}