venv/
projectISPPC/config/testing.py
.env
__pycache__/
__pycache__
projectISPPC/.env
databases/dbisppdataonly.sql
databases/finaldb.mwb
databases/FinalDB.mwb.bak
databases/csv
databases/Logica unificación.docx