{%extends 'user/home.html'%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/administrarusuarios.css') }}" />
{%endblock%}

{%block content%}
<div class="row py-5">
    <div class="col-2">
    </div>
    <div class="col-md-10 col-sm-12 py-5">
        <div class="container">
            <div class="container d-flex justify-content-around">
                <table class="table table-hover tabla">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Nombre</td>
                            <td>Apellido</td>
                            <td>Carrera</td>
                            <td>Observaciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nom in nombreapellido %}
                        <form action="{{url_for('bedel.resetear_contraseña')}}" method="post">
                            <tr>
                                <td>{{nom[3]}}</td>
                                <td>{{nom[0]}}</td>
                                <td>{{nom[1]}}</td>
                                <td>{{nom[4]}}</td>
                                <td>{{nom[2]}}</td>
                                <input type="hidden" value="{{nom[5]}}" name="usuarioid">
                                <td><input type="submit" value="Resetear Contraseña"></td>
                            </tr>
                        </form>

                        {% endfor %}
                    </tbody>
                </table>

                <form class="d-flex justify-content-center align-items-center crear"
                    action="{{url_for('bedel.crear_alumno')}}" method="post">
                    <div class="container login">
                        <div class="d-flex flex-column align-items-left py-3">
                            <h1 class="mb-3">Crear Alumno</h1>
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" 
                                class="form-control form-custom" value=""/>
                            
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" name="apellido" 
                                class="form-control form-custom" value=""/>
                            
                            <label for="dni">DNI</label>
                            <input type="text" id="dni" name="dni" 
                                class="form-control form-custom" value=""/>
                            
                            <label for="carpo">Carrera</label>
                            <select name="Carpo" class="form-select form-select-lg" >
                                {% for car in carpo %}
                                {% if car[2] == None%}
                                <option value="{{car[0]}}">{{car[1]}} {{car[3]}}</option>
                                {% else %}
                                <option value="{{car[0]}}">{{car[1]}} {{car[2]}} {{car[3]}}</option>
                                {% endif %}

                                {% endfor %}
                            </select>

                            <input type="submit" class="btn btn-primary my-3">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {%endblock%}