{%extends 'user/home.html'%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/general.css') }}" />
{%endblock%}


{%block content%}
<div class="row py-5">
  <div class="col-2">
  </div>
  <div class="col-md-10 py-5">
    <div class="container">
      <div class="container d-flex">
        
        {{datosmateria}}
        <table>
            <thead>

            </thead>
            <tbody>
                
            </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block script%}
{{super()}}
<script>
  carposelect = document.getElementById("carposelect");

  if (carposelect.value == "") {
    carposelect.value = "0";
  }
</script>
{%endblock%}