{%extends 'base.html' %} {% block css %}<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/inicio.css') }}"
/>{% endblock %} {% block title %}Inicio{% endblock %}
{% block body %}
{% block navbar %}
<nav class="nav1">
  <a href="">{{super()}}</a>

  <div class="logo">
    <div class="circulo">
      <img
        src="{{ url_for('static',filename='img/ispplogo.png') }}"
        class="imagenlogo"
      />
    </div>

    <img src="" alt="" />
  </div>

  <div class="div-items">
    <a class="item" href="/">Inicio</a>
    <a class="item" href="/carreras">Carreras</a>
    <a class="item" href="/cargarCarreras">Cargar Carrera</a>
  </div>
</nav>
{% endblock %}
<div class="container">
  <div class="carta">
    <h1 class="bienvenida">¡Bienvenido!</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In eaque
      cupiditate soluta ipsum consequuntur voluptate adipisci corporis quia
      suscipit velit aliquid a rerum, laboriosam minus exercitationem doloribus,
      illum, perspiciatis quaerat.
    </p>
  </div>
</div>

{% endblock %}
