{%extends 'inicio.html' %}

{% block css %}{{super()}} <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/carreras.css') }}">{% endblock %}
    
{% block title %}Carreras{% endblock %}

{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock %}

    {% block div %}
        {% from "macrocarreras.html" import carreras %}
        {{ carreras(ori,nombre) }}
        
        <form action="/carreras" id="form-dbclick" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="idcarrera" id="idcarrera" value="{{idcarr}}">
            <input type="hidden" name="accion" value="dbclickcarrera">
            <input type="hidden" name="idorientacion" id="idorientacion" value="">
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='/scripts/orientacion.js')}}"></script>

    {%endblock%}

{% endblock %}