{%extends 'inicio.html' %}

{% block css %}{{super()}} <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/carreras.css') }}">{% endblock %}
    
{% block title %}Planes{% endblock %}

{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock %}

    {% block div %}
        {% from "macrocarreras.html" import carreras %}
        <div class="contenedor">
            {{ carreras(planes,nombre) }}
        </div>
        <form action="/carreras" id="mostrar-materia" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="idplan" id="idplan" value="">
            <input type="hidden" name="accion" value="mostrarmaterias">
            <input type="hidden" name="idcarrera" id="idcarrera" value="{{idcarrera}}" />
            <input type="hidden" name="idorientacion" id="idorientacion" value="{{idorientacion}}" />
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='/scripts/planes.js')}}"></script>

    {%endblock%}

{% endblock %}