<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    {% block css %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/base.css') }}">    
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/nav.css') }}">
    {% endblock %}

    <title>
    {% block title %}
      
    {% endblock %}
    </title>
    
  </head>

  <body>
    {% block navbar %}
    <nav class="nav1">
      <div class="logo">
        <div class="circulo">
          <img
            src="{{ url_for('static',filename='img/ispplogo.png') }}"
            class="imagenlogo"
          />
        </div>

        <img src="" alt="" />
      </div>

      <div class="div-items">
        <a class="item" href="/">Inicio</a>
        <a class="item" href="/carreras">Carreras</a>
      </div>
    </nav>
    {% endblock %}

    {% block content %}
      {% from "macroAlertas.html" import Alertas%}
      {{ Alertas() }}
    {% endblock %}



    {% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='/js/alertas.js')}}"></script>
    {% endblock %}
    
  </body>
</html>
