{%extends 'base.html' %}

{% block css %}
{{super()}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/home.css') }}"
/>
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}
<section class="seccion">
  <div class="container">
    <div class="carta">
      <h1 class="bienvenida">¡Bienvenido!</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In eaque
        cupiditate soluta ipsum consequuntur voluptate adipisci corporis quia
        suscipit velit aliquid a rerum, laboriosam minus exercitationem doloribus,
        illum, perspiciatis quaerat.
      </p>
    </div>
  </div>
</section>

<div class="alerta">
  <div class="alert">
      <span class="mensaje">Prueba de Mensaje</span>
      <button type="button" class="close" ><span>&times;</span></button>
  </div>
</div>
{% endblock %}
