{% macro carpo(lista,nombre) %}
<table class="style-table">
    <thead>
        <!-- <th>id</th> -->
        <th>{{nombre}}</th>
    </thead>
    
    <tbody id="select">
        {% for carpo in lista %}
        <tr id="{{carpo[0]}}" class="fila">
            <td class="td">
                <div class="edit">
                    <span class="titulo">
                        {{carpo[1]}}
                    </span>
                    <div class="div-icon">
                        <a href="{{ url_for('crudcarpo.editarCarpo', id=carpo[0],carrera=carpo[1]) }}">
                            <img class="a-icon" src="../static/img/editar.png" alt="">
                        </a>

                        <a href="{{ url_for('crudcarpo.eliminarSeleccionado', idseleccionada=carpo[0],listaValores=listaValores) }}">
                            <img src="{{url_for('static',filename='img/eliminar.png')}}" alt="remove" class="a-icon" id="remover">
                        </a>

                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endmacro %}