{% macro carreras(lista,nombre) %}
<table id="carrera" class="carr">
    <thead>
        <!-- <th>id</th> -->
        <th>{{nombre}}</th>
    </thead>
    <div class="cajatablascroll">
        {% for carrera in lista %}
        <tbody id="select">
            <tr id="{{carrera[0]}}" class="fila">
                <!-- <td>{{carrera[0]}}</td> -->
                <td class="td">
                    <div class="edit">
                        <span class="titulo">
                            {{carrera[1]}}
                        </span>
                        <div class="div-icon">
                            <a href="editar"><img class="a-icon" src="../static/img/editar.png" alt=""></a>
                            <a href="eliminar"><img class="a-icon" src="../static/img/eliminar.png" alt=""></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </div>
</table>

{% endmacro %}