{%extends 'base.html' %}

{% block css %}
{{super()}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/carpo.css') }}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/materias.css') }}"
/>

{% endblock %}

{% block title %}Materias{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}
<section>
  <div class="titleFormat">
    <span class="titleCarpo">
      {% if nombre[1]== None%}
        {{nombre[0]}} - {{nombre[2]}}
      {%else%}
        {{nombre[0]}}: {{nombre[1]}} - {{nombre[2]}}
      {%endif%}
    </span>

    <img src="{{url_for('static',filename='img/add.png')}}" alt="add" class="boton" id="nuevo">

  </div>

  
    
  <div class="contenedor">
    {% for i in range(cantidadAños) %}
    <div class="titleYear">
      <h1>{{listaAños[i]}}</h1>
    </div>
  
    <div class="tablematerias">
      <table>
        <thead>
          <th>Materia</th>
          <th>Tipo</th>
        </thead>
        <div class="cajatablascroll">
          {% for materia in materias %} {% if materia[2]==(i+1) %}
          <tbody id="select">
            <tr id="{{materia[0]}}" class="fila">
              <!--<td>{{materia[0]}}</td>-->
              <td>{{materia[1]}}</td>
              <td>{{materia[3]}}</td>
            </tr>
          </tbody>
          {% endif %} {% endfor %}
        </div>
      </table>
      <br>
      <hr>
    </div>
    {%endfor%}
  </div>

  <div class="nuevamateria hide">
    <div class="materia">

      <button type="button" class="closen" id="close">
        <span>&times;</span>
      </button>

      <span class="title">Nueva materia</span>

      <div class="subtitle">
        {% if nombre[1]== None%}
          {{nombre[0]}}: {{nombre[2]}}
        {%else%}
          {{nombre[0]}}: {{nombre[1]}} {{nombre[2]}}
        {%endif%}
      </div>
              
      <form class="nuevaMateriaForm" action="/cargarMaterias" method="POST">

        <div class="inputClass">
          <!-- <label for="cod">Nombre de la Materia</label> -->
          <input type="text" name="nombreMateria" class="inputMateria" placeholder="Materia" id="cod"/>
        </div>
        
        <div class="inputClass">
          <!-- <label for="year">Selecionar Año</label> -->
          <select name="añoMateria" id="year" class="menudesp">
            <option disabled selected value="disable">Año</option>
            {% for opaño in range(cantidadAños+1) %}
              {%if 6 > listaañonumerica[opaño]%}
                <option value="{{listaañonumerica[opaño]}}">{{listaañonumerica[opaño]}}° Año</option>
              {%endif%}
            {%endfor%}
          </select>
        </div>
        
        
        <div class="inputClass">
          <!-- <label for="tipo">Seleccionar Tipo de Materia</label> -->
          <select name="tipomateria" class="menudesp" id="tipo" aria-placeholder="Año">
            <option disabled selected value="disable">Tipo</option>
            <option value="1°Cuatrimestre">1°Cuatrimestre</option>
            <option value="2°Cuatrimestre">2°Cuatrimestre</option>
            <option value="Anual">Anual</option>
          </select>
        </div>
        

        
        <input type="submit" value="Guardar" class="botonSubmit" name="action"/>

        <!-- Send to Backend -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" value="{{idcarpo}}" name="idcarpo"/>
      </form>
    </div>
  </div>
</section>

{%endblock%}

{% block script %}
{{super()}}
<script src="{{url_for('static', filename='/js/nuevamateria.js')}}"></script>
{% endblock %}