{%extends 'user/home.html'%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/datospersonales.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/general.css') }}" />
{%endblock%}

{%block content%}
<div class="row contenedor">
    <div class="col-2"></div>
    <div class="col-md-10">
        <div class="m-4">
            <form class="row p-3 mb-2 fondo" action=""
                method="POST" id="datossecundaria">
                <div class="container-fluid">
                    <h2 class="mb-4 col text-center" id="actualiarDatosSec">
                        Datos de Secundaria
                    </h2>
                    <div class="row mb-4">
                        <div class="col">
                            <input type="text" id="institucion" name="institucion" 
                                class="form-control form-custom" value=""/>
                            <label for="institucion">Institucion</label>
                        </div>

                        <div class="col">
                            <input type="text" id="añoEgreso" name="añoEgreso"
                                class="form-control form-custom"
                                value=""/>
                            <label for="añoEgreso">Año egreso</label>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <input type="text" id="orientacion" name="orientacion"
                                class="form-control form-custom" value=""/>
                            <label for="orientacion">Orientacion</label>
                        </div>

                        <div class="col">
                            <input type="file" id="tituloSec" name="tituloSec"
                                class="form-control form-custom" value=""/>
                            <label for="tituloSec">Titulo Secundario</label>
                        </div>
                    </div>

                    <div class="col-12 mb-1 text-center">
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    {%endblock%}