{%extends 'home.html'%}

{%block head%}
{{super()}}

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/user.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/general.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/datospersonales.css') }}"
/>

{%endblock%}

{%block content%}
<div class="row contenedor">
  <div class="col-2"></div>
  <div class="col-md-10">
    <div class="m-4">
      <form class="row p-3 mb-2 fondo" action="">
        <div class="container-fluid">
          <h2 class="mb-4 col text-center" id="modDatos">Modificar/Actualizar Datos Personales</h2>

            <div class="row mb-4">
                <div class="col justify-content-center form-floating">
                    <input
                    type="text"
                    id="cuil"
                    name="cuil"
                    placeholder="x-xx.xxx.xxx-x"
                    class="form-control form-custom"
                    />
                    <label for="cuil">Cuil *</label>
                </div>

                <div class="col justify-content-center form-floating">
                    <input
                    type="text"
                    id="nombre"
                    name="nombre"
                    placeholder="Escribe tu nombre"
                    class="form-control form-custom "
                    />
                    <label for="nombre">Nombre</label>
                </div>
        
                <div class="col justify-content-center form-floating">
                    <input
                        type="text"
                        id="apellido"
                        name="apellido"
                        placeholder="Escribe tu apellido"
                        class="form-control form-custom "
                    />
                    <label for="apellido">Apellido *</label>
                </div>
            </div>

            <div class="row mb-4">
              <div class="col justify-content-center form-floating">
                <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="nombre@ejemplo.com"
                    class="form-control form-custom"
                />
                <label for="email">Email *</label>

            </div>

            <div class="col justify-content-center form-floating">
                <input
                    type="text"
                    id="telefono"
                    name="telefono"
                    required="true"
                    placeholder="xxxxxxxxxx"
                    class="form-control form-custom"
                />
                <label class="labelforms" for="telefono">Telefono *</label>

            </div>

            <div class="col justify-content-center form-floating">
                <input
                    type="text"
                    name="fechanac"
                    id="fechanac"
                    placeholder="xx/xx/xxxx"
                    class="form-control form-custom"
                />
                <label class="labelforms" for="fechanac">Fecha de Nac. *</label>

            </div>
            </div>

            <div class="col-12 mb-1 text-center">
                <input type="button" class="btn btn-primary" value="Guardar" />
            </div>

        </div>
      </form>

      <form class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4" action="">
        <h2 class="bg-light mb-4 col-md-12 text-center">
          Domicilio de Residencia
        </h2>
        <br />
        <div class="col">
          <label class="labelforms" for="provincia">Provincia</label>
          <input type="text" name="provincia" id="provincia" />
        </div>

        <div class="col">
          <label class="labelforms" for="departamento">Departamento</label>
          <input type="text" name="departamento" id="departamento" />
        </div>

        <div class="col">
          <label class="labelforms" for="localidad">Localidad</label>
          <input type="text" name="localidad" id="localidad" />
        </div>

        <div class="col">
          <label class="labelforms" for="barrio">Barrio</label>
          <input type="text" name="barrio" id="barrio" />
        </div>
        <div class="col">
          <label class="labelforms" for="calle">Calle</label>
          <input type="text" name="calle" id="calle" />
        </div>
        <div class="col">
          <label class="labelforms" for="altura">Altura</label>
          <input type="text" name="altura" id="altura" />
        </div>
        <div class="col">
          <label class="labelforms" for="piso">Piso</label>
          <input type="text" name="piso" id="piso" />
        </div>

        <div class="col">
          <label class="labelforms" for="numdepto">Numero</label>
          <input type="text" name="numdepto" id="numdepto" />
        </div>

        <div class="col m-2 col-md-12 col-sm-12 text-end">
          <input type="button" class="btn btn-primary" value="Guardar" />
        </div>
      </form>

      {%if session['perfilid'] == 7%}
      <form class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4" action="">
        <h2 class="bg-light mb-4 col-md-12 text-center">
          Domicilio de Procedencia
        </h2>
        <div class="col">
          <label class="labelforms" for="provincia">Provincia</label>
          <input type="text" name="provincia" id="provincia" />
        </div>

        <div class="col">
          <label class="labelforms" for="departamento">Departamento</label>
          <input type="text" name="departamento" id="departamento" />
        </div>

        <div class="col">
          <label class="labelforms" for="localidad">Localidad</label>
          <input type="text" name="localidad" id="localidad" />
        </div>

        <div class="col">
          <label class="labelforms" for="barrio">Barrio</label>
          <input type="text" name="barrio" id="barrio" />
        </div>

        <div class="col">
          <label class="labelforms" for="calle">Calle</label>
          <input type="text" name="calle" id="calle" />
        </div>

        <div class="col">
          <label class="labelforms" for="altura">Altura</label>
          <input type="text" name="altura" id="altura" />
        </div>

        <div class="col">
          <label class="labelforms" for="piso">Piso</label>
          <input type="text" name="piso" id="piso" />
        </div>

        <div class="col">
          <label class="labelforms" for="numdepto">Numero</label>
          <input type="text" name="numdepto" id="numdepto" />
        </div>

        <div class="col col-md-12 col-sm-12 text-end">
          <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
      </form>
      {%endif%}
    </div>
  </div>
</div>

{%endblock%}
