
h1{
    background-color:rgb(201, 215, 236) ;
    margin:2px;
    border-radius: 5px;
    padding: 5px;
    font-weight: lighter;
    color:rgb(92, 91, 91);
}
hr{
    margin:0;
}

.div-opcionescarga{
    margin: 5px;
    padding: 5px;
}
input#nombrecarrera {
    border-radius: 10px;
    border-color: currentColor;
}
select.id_orientacion {
    border-radius: 10px;
    border-color: rgb(105, 104, 104);
}
select.id_plan {
    border-radius: 10px;
    border-color: rgb(105, 104, 104);
}
.submit {
    margin: 10px;
    background-color: rgb(201, 215, 236);
    color:rgb(92, 91, 91);
    border-radius: 10px;
    border-style: hidden;
    padding:10px;
}
.submit:hover{
    background-color: rgb(218, 225, 236);
}
.form-carga{
    width: 50%;
    border: solid;
    border-color: rgb(197 190 190);
    border-radius: 10px;
}
.div-carga{
    display:flex;
    justify-content: center;
}

.inputOrientacion {
    margin: 0 10px 10px 10px;
}

.inputPlan {
    margin: 0 10px 10px 10px;
}


.hide {
	display: none;
}
