{%extends 'base.html' %}

{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/carpo.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/editar.css') }}"
/>
{{super()}}
{% endblock %}

{% block title %}Editar CARPO{% endblock %}

{% block navbar %} {{super()}} {% endblock %}

{%block content%}
<section>

    <div class="title">
        Editar Carrera:
    </div>

    <div class="subtitle">
        {{nombrecar}}
    </div>

    <div class="{%if Orientaciones%} grid {%endif%}">

        <table class="style-table">
            <thead>
                <th>Planes</th>
            </thead>
            
            <tbody id="select">
                {% for plan in Planes%}
                <tr id="{{plan}}" class="fila">
                    <td class="td">
                        <div class="edit">
                            <span class="titulo">
                                {{plan}}
                            </span>
                            <div class="div-icon">
                                <img src="{{url_for('static',filename='img/eliminar.png')}}" alt="remove" class="a-icon hide" id="remover">
                            </div>
                        </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            
        </table>

        {% if Orientaciones %}
        <table class="style-table">
            <thead>
                <th>Orientacion</th> 
            </thead>
                {% if Orientaciones %}
                <tbody id="select">
                    {% for ori in Orientaciones %}
                    <tr id="{{ori}}" class="fila">
                        <td class="td">
                            <div class="edit">
                                <span class="titulo">
                                    {{ori}}
                                </span>
                                <div class="div-icon">
                                    <img src="{{url_for('static',filename='img/eliminar.png')}}" alt="remove" class="a-icon hide" id="remover">
                                </div>
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                 </tbody>
                {% endif %} 
        </table>
        {% endif %} 
    </div>
</section>
{%endblock%}

{%block script%}
{{super()}}
<script src="{{url_for('static',filename='js/editar.js')}}"></script>



{%endblock%}